.image{
    width: 376px;
height: 385px;
flex-shrink: 0;
}

.para{
    color: #FFF;
font-family: Inter;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 164%; /* 26.24px */
letter-spacing: 0.8px;
}